:root {
    --btn-border: 0.5px solid #495057;
    --btn-border-white: rgb(203, 202, 202);
    --btn-bg-grey: hsla(0, 0%, 25%, 0.5);
    --btn-bg-dark-grey: hsla(0, 0%, 12%, 0.500);
    --btn-bg-darker-grey: hsla(0, 3%, 6%, 0.502);
    --btn-bg-blue: rgba(140, 197, 243, 0.400);
    --btn-font: "Roboto", sans-serif;
    --text-white: white;
}

#clear { 
    grid-area: 1 / 1 / 2 / 3; 
}

#divide { 
    grid-area: 1 / 3 / 2 / 4; 
}

#multiply { 
    grid-area: 1 / 4 / 2 / 5; 
}

#seven { 
    grid-area: 2 / 1 / 3 / 2; 
}

#eight { 
    grid-area: 2 / 2 / 3 / 3; 
}

#nine { 
    grid-area: 2 / 3 / 3 / 4; 
}

#subtract { 
    grid-area: 2 / 4 / 3 / 5; 
}

#four { 
    grid-area: 3 / 1 / 4 / 2; 
}

#five { 
    grid-area: 3 / 2 / 4 / 3; 
}

#six { 
    grid-area: 3 / 3 / 4 / 4; 
}

#add { 
    grid-area: 3 / 4 / 4 / 5; 
}

#one { 
    grid-area: 4 / 1 / 5 / 2; 
}

#two { 
    grid-area: 4 / 2 / 5 / 3; 
}

#three { 
    grid-area: 4 / 3 / 5 / 4; 
}

#equals { 
    grid-area: 4 / 4 / 6 / 5; 
}

#zero { 
    grid-area: 5 / 1 / 6 / 2; 
}

#decimal { 
    grid-area: 5 / 2 / 6 / 3; 
}

#delete { 
    grid-area: 5 / 3 / 6 / 4; 
}

.btn {
    color: var(--text-white);
    font-family: var(--btn-font);
    font-size: 1.2em;
    border: var(--btn-border);
}

.btn:hover {
    filter: brightness(70%);
}

.btn:active {
    filter: brightness(120%);
    border-color: var(--btn-border-white);
}

.btn-numerical {
    background-color: var(--btn-bg-dark-grey);
}

.btn-operator {
    background-color: var(--btn-bg-darker-grey);
}

.btn-equals {
    background-color: var(--btn-bg-blue);
}

.btn-delete {
    background-color: var(--btn-bg-grey);
}

#zero {
    border-bottom-left-radius: inherit;
}

#equals {
    border-bottom-right-radius: inherit;
}

@media (min-width: 1000px) {
    .btn {
        font-size: 1.5em;
    }
}