#calculator {
    width: 90vw;
    height: 70vh;
    /* border: 2px solid black; */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
}

@media (min-width: 1000px) {
    #calculator {
        width: 50vw;
    }
}